<ion-header [translucent]="true">
  <ion-toolbar color="doctora">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Creador info with a sleeker design -->
  <div class="creator-banner ion-padding">
    <ion-icon name="mail-outline" class="banner-icon"></ion-icon>
    <h2>Creador: Juan Echenique</h2>
    <p><strong>Número de teléfono:</strong> 04241264352</p>
    <p><strong>Correo:</strong> gonzalezjuanluis088@gmail.com</p>
  </div>

  <form (ngSubmit)="guardarContacto()">
    <!-- 1. Dirección -->
    <ion-card class="form-card">
      <ion-card-header>
        <div class="card-header-icon">
          <ion-icon name="location-outline" color="doctora"></ion-icon>
        </div>
        <ion-card-title>Datos de Dirección</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item lines="none" class="custom-input-item">
            <ion-input 
              label="Calle / Avenida" 
              labelPlacement="floating" 
              placeholder="Ej. Av. Francisco de Miranda" 
              color="doctora"
              [(ngModel)]="contactoData.direccion.calle"
              name="calle"
              required>
            </ion-input>
          </ion-item>
          <ion-item lines="none" class="custom-input-item">
            <ion-input 
              label="Casa / Edificio / Apto" 
              labelPlacement="floating" 
              placeholder="Ej. Res. El Parque, Apto 4B" 
              color="doctora"
              [(ngModel)]="contactoData.direccion.casa"
              name="casa">
            </ion-input>
          </ion-item>
          <ion-item lines="none" class="custom-input-item">
            <ion-input 
              label="Ciudad" 
              labelPlacement="floating" 
              placeholder="Ej. Caracas" 
              color="doctora"
              [(ngModel)]="contactoData.direccion.ciudad"
              name="ciudad"
              required>
            </ion-input>
          </ion-item>
          <ion-item lines="none" class="custom-input-item">
            <ion-input 
              label="Estado" 
              labelPlacement="floating" 
              placeholder="Ej. Miranda" 
              color="doctora"
              [(ngModel)]="contactoData.direccion.estado"
              name="estado"
              required>
            </ion-input>
          </ion-item>
          <ion-item lines="none" class="custom-input-item">
            <ion-input 
              label="Código Postal" 
              labelPlacement="floating" 
              placeholder="Ej. 1060" 
              color="doctora"
              [(ngModel)]="contactoData.direccion.codigoPostal"
              name="codigoPostal">
            </ion-input>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <!-- 2. Contacto -->
    <ion-card class="form-card">
      <ion-card-header>
        <div class="card-header-icon">
          <ion-icon name="call-outline" color="doctora"></ion-icon>
        </div>
        <ion-card-title>Datos de Contacto</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item lines="none" class="custom-input-item">
            <ion-input 
              label="Teléfono Celular" 
              labelPlacement="floating" 
              type="tel"
              placeholder="Ej. 04141234567" 
              color="doctora"
              [(ngModel)]="contactoData.contacto.celular"
              name="celular"
              required>
            </ion-input>
          </ion-item>
          <ion-item lines="none" class="custom-input-item">
            <ion-input 
              label="Teléfono Fijo" 
              labelPlacement="floating" 
              type="tel"
              placeholder="Ej. 02129876543" 
              color="doctora"
              [(ngModel)]="contactoData.contacto.fijo"
              name="fijo">
            </ion-input>
          </ion-item>
          <ion-item lines="none" class="custom-input-item">
            <ion-input 
              label="Correo Electrónico" 
              labelPlacement="floating" 
              type="email"
              placeholder="Ej. correo@ejemplo.com" 
              color="doctora"
              [(ngModel)]="contactoData.contacto.correo"
              name="correo"
              required>
            </ion-input>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <!-- 3. Contacto de Familiar -->
    <ion-card class="form-card">
      <ion-card-header>
        <div class="card-header-icon">
          <ion-icon name="people-outline" color="doctora"></ion-icon>
        </div>
        <ion-card-title>Contacto de Familiar</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item lines="none" class="custom-input-item">
            <ion-input 
              label="Nombre del Familiar" 
              labelPlacement="floating" 
              placeholder="Ej. María Pérez" 
              color="doctora"
              [(ngModel)]="contactoData.familiar.nombre"
              name="familiarNombre"
              required>
            </ion-input>
          </ion-item>
          <ion-item lines="none" class="custom-input-item">
            <ion-select 
              label="Parentesco" 
              labelPlacement="floating" 
              placeholder="Seleccionar parentesco" 
              color="doctora"
              [(ngModel)]="contactoData.familiar.parentesco"
              name="familiarParentesco"
              required>
              <ion-select-option value="Madre">Madre</ion-select-option>
              <ion-select-option value="Padre">Padre</ion-select-option>
              <ion-select-option value="Hermano/a">Hermano/a</ion-select-option>
              <ion-select-option value="Cónyuge">Cónyuge</ion-select-option>
              <ion-select-option value="Hijo/a">Hijo/a</ion-select-option>
              <ion-select-option value="Otro">Otro</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item lines="none" class="custom-input-item">
            <ion-input 
              label="Teléfono del Familiar" 
              labelPlacement="floating" 
              type="tel"
              placeholder="Ej. 04127654321" 
              color="doctora"
              [(ngModel)]="contactoData.familiar.telefono"
              name="familiarTelefono"
              required>
            </ion-input>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <div class="ion-padding submit-container">
      <ion-button expand="block" type="submit" color="doctora" class="submit-btn">
        <ion-icon name="save-outline" slot="start"></ion-icon>
        Guardar Contacto
      </ion-button>
    </div>
  </form>
</ion-content>
